*.obj
*.dll
*.lib
*.exe
*.suo
*.ilk
*.pdb
*.exp
*.sdf
*.opensdf
*.tds
*.user
microsoft_windows/VS2012/bin/
microsoft_windows/VS2012/obj/
test_suite/Actual/
test_suite/Results/
test_suite/Temp/
test_suite/d.bins
